# Configuración de Base de Datos
DB_USER=tu_DB_user
DB_PASSWORD=tu_DB_password
DB_NAME=tu_DB_name
DB_PORT=tu_DB_port

# Seguridad de la Aplicación
APP_PEPPER=tu_cadena_secreta_para_pepper

# Configuración de JWT
JWT_SECRET=tu_clave_secreta_para_JWT

# Configuración del Servidor
PORT=tu_puerto_para_el_servidor